<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.thinketg.plugin.ibeacongap" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>iBeaconGap</name>
	<js-module name="iBeaconGap" src="www/iBeaconGap.js">
		<clobbers target="iBeaconGap" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="iBeaconGap">
				<param name="android-package" value="com.thinketg.plugin.ibeacongap.iBeaconGap" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		<source-file src="src/android/iBeaconGap.java" target-dir="src/com/thinketg/plugin/ibeacongap/iBeaconGap" />
	</platform>
</plugin>